.Rsvp-form-row {
  display: flex;
  margin-bottom: 1rem;
}

.Rsvp-form-input {
  width: 100%;
}

.Rsvp-form-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.Rsvp-button-yes {
  border-color: rgb(77,198,255);
  color: rgb(77,198,255);
}

.Rsvp-button-yes-selected {
  border-color: rgb(77,198,255);
  background-color: rgb(77,198,255);
  color: #fff;
}

.Rsvp-button-no {
  border-color: #ccc;
  color: #ccc;
}

.Rsvp-button-no-selected {
  border-color: #ccc;
  background-color: #ccc;
  color: #fff;
}

.Rsvp.submit-btn {
  width: auto;
}

@media (min-width: 600px) {
  .Rsvp-form-input {
    width: 50%;
  }

  .Rsvp-form-input:first-child {
    margin-right: 1rem;
  }
}
