.Rsvp-form-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
  flex-direction: column;
}

.Rsvp-form-input {
  margin-bottom: 1rem;
  width: 100%;
}

.Rsvp-form-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.Rsvp-button-yes {
  border-color: #4dc6ff;
  color: #4dc6ff;
}

.Rsvp-button-yes-selected {
  border-color: #4dc6ff;
  background-color: #4dc6ff;
  color: #fff;
}

.Rsvp-button-no {
  border-color: #ccc;
  color: #ccc;
}

.Rsvp-button-no-selected {
  border-color: #ccc;
  background-color: #ccc;
  color: #fff;
}

.Rsvp-submit-btn {
  width: auto;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.Rsvp-disclaimer {
  color: #555;
}

@media (min-width: 600px) {
  .Rsvp-form-row {
    flex-direction: row;
  }

  .Rsvp-form-input {
    width: 50%;
  }

  .Rsvp-form-input:first-child {
    margin-right: 1rem;
  }
}
