.Header-fixed {
  width: 100%;
  height: 94px;
  z-index: 100;
}

.Header {
  display: flex;
  position: relative;
}

.Header h1 {
  font-size: 2rem;
  text-align: left;
  color: #fff;
  width: 6rem;
  line-height: 1;
  margin: 0.83333rem;
  transform: rotate(-15deg) skew(-6deg);
}

.Header h4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .02rem;
}
