* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  min-width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: 'Palm Canyon';
  src:  url('./static/fonts/PalmCanyonDrive-Regular.eot?4fss3');
  src:  url('./static/fonts/PalmCanyonDrive-Regular.eot?4fss3#iefix') format('embedded-opentype'),
    url('./static/fonts/PalmCanyonDrive-Regular.ttf?4fss3') format('truetype'),
    url('./static/fonts/PalmCanyonDrive-Regular.woff?4fss3') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body, .container {
  width: 100%;
  height: auto;
  margin: 0;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  color: #222;
  background-color: #fcfcfc;
  font-family: 'Quicksand', sans-serif;
}

section {
  padding: 2rem 0;
}

.text-center {
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Palm Canyon', serif;
  letter-spacing: .01rem;
  font-weight: 900;
}

h4, h5, h6, p {
  font-weight: 400;
  margin: 0;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  background-color: transparent;
  border: 2px solid #555;
  border-radius: 5px;
  font-size: 1.33333rem;
  height: 100%;
  width: 100%;
  padding: 1rem 1.33333rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

button:focus {
  outline: none;
}

.btn--outline {
  border: 3px solid #fff;
  border-radius: 300px;
}

.btn--plain {
  border: none;
}

label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .5rem;
  letter-spacing: .02rem;
  text-transform: uppercase;
  text-align: left;
  display: block;
}

input {
  padding: 1rem .833333rem;
  border: 1px solid #222;
  font-family: "Quicksand", sans-serif;
  border-radius: 3px;
  font-size: 1.33333rem;
  width: 100%;
}

input:focus {
  outline: none;
  border: 1px solid #4DC6FF;
  box-shadow: rgba(77,198,255, .5) 0 0 0 3px;
}

.container {
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section-header {
  font-size: 4rem;
  letter-spacing: 4px;
  margin-bottom: .3333rem;
}

.section-sub-head {
  font-size: 1.3333rem;
  text-transform: uppercase;
  letter-spacing: .03rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
