.App {
  min-width: 100%;
  color: #222;
  font-weight: 400;
  overflow-x: hidden;
}

.App-content {
  height: 100%;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

.Intro {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 50vh;
}
