.Nav {
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
  z-index: 100;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.Nav-item {
  margin-right: .5rem;
  color: #fff;
}

.Nav-item .btn {
  font-size: .83333rem;
  padding: .5rem 1rem;
  color: #fff;
}

.Nav-item button:hover {
  opacity: 0.5;
}

.Nav-item:last-child {
  margin-right: 0;
}

.Nav-burger {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);

  display: none;
}

@media screen and (max-width: 768px) {
  .Nav {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    right: 0;
    left: 0;
    top: 0;
    padding: 4rem 0;
    background: #fff;
    transform: translate3d(0, -100%, 0);
    transition: .3s ease-in-out;
  }

  .Nav.Nav-open {
    transform: translate3d(0, 0, 0);
    box-shadow: rgba(0,0,0, .25) 0 3px 4px 0;
  }

  .Nav-item {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .Nav-item .btn {
    color: #222;
    border-color: #222;
  }

  .Nav-burger {
    display: inline-block;
  }
}
